html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.web {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.top {
  width: 100%;
  height: 1.06667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.26667rem;
  padding-right: 0.26667rem; }
  .top img {
    width: 0.53333rem;
    height: 0.53333rem; }

section {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column; }
  section .tops {
    width: 100%;
    height: 1.06667rem;
    display: flex;
    overflow-x: auto; }
    section .tops div {
      width: 2.13333rem;
      height: 0.8rem;
      text-align: center;
      line-height: 0.8rem;
      flex-shrink: 0; }
  section .box {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap; }
    section .box dl {
      width: 47%;
      height: 6.56rem;
      margin-left: 0.13333rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 0.26667rem;
      padding-right: 0.26667rem; }
      section .box dl img {
        width: 100%;
        height: 4.05333rem; }
      section .box dl .px {
        width: 100%;
        height: 0.8rem;
        line-height: 0.8rem;
        color: #ac9974;
        background: #f1ece2; }
      section .box dl .p2 {
        width: 1.6rem;
        height: 0.53333rem;
        text-align: center;
        line-height: 0.53333rem;
        background: #dea34c;
        color: #fff; }
      section .box dl .p3 {
        width: 100%;
        height: 0.8rem;
        font-weight: bold;
        line-height: 0.8rem; }
      section .box dl .p4 {
        width: 100%;
        height: 0.53333rem;
        line-height: 0.53333rem;
        font-size: 0.48rem;
        font-weight: bold;
        color: red; }
